@theme {
  --color-primary: #0052d9;
  --color-on-primary: #ffffff;
  --color-primary-light: #f2f3ff;
  --color-link: #003cab;
  --color-surface: #ffffff;
  --color-surface-variant: #f3f3f3;
  --color-surface-page: #eeeeee;
  --color-on-surface: #191919;
  --color-on-surface-variant: #666666;
  --color-placeholder: #999999;
  --color-border: #dddddd;
  --color-border-subtle: #e8e8e8;
  --color-success: #2ba471;
  --color-warning: #e37318;
  --color-error: #d54941;
  --font-display: "Inter";
  --font-heading-lg: "Inter";
  --font-heading: "Inter";
  --font-body: "Inter";
  --font-body-sm: "Inter";
  --font-label: "Inter";
  --font-code: "JetBrains Mono";
  --text-display: 2.25rem;
  --text-heading-lg: 1.5rem;
  --text-heading: 1.125rem;
  --text-body: 0.875rem;
  --text-body-sm: 0.75rem;
  --text-label: 0.75rem;
  --text-code: 0.875rem;
  --font-weight-display: 600;
  --font-weight-heading-lg: 600;
  --font-weight-heading: 600;
  --font-weight-body: 400;
  --font-weight-body-sm: 400;
  --font-weight-label: 600;
  --font-weight-code: 400;
  --radius-sm: 2px;
  --radius-md: 3px;
  --radius-lg: 6px;
  --radius-xl: 9px;
  --radius-full: 999px;
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 24px;
  --spacing-2xl: 32px;
  --spacing-3xl: 40px;
}

