@theme {
  --color-primary: #0f62fe;
  --color-on-primary: #ffffff;
  --color-surface: #ffffff;
  --color-on-surface: #161616;
  --color-on-surface-variant: #525252;
  --color-surface-variant: #f4f4f4;
  --color-helper: #6f6f6f;
  --color-border-subtle: #e0e0e0;
  --color-border-strong: #8d8d8d;
  --color-success: #24a148;
  --color-warning: #f1c21b;
  --color-error: #da1e28;
  --font-display: "IBM Plex Sans";
  --font-heading-lg: "IBM Plex Sans";
  --font-heading: "IBM Plex Sans";
  --font-body: "IBM Plex Sans";
  --font-body-sm: "IBM Plex Sans";
  --font-label: "IBM Plex Sans";
  --font-code: "IBM Plex Mono";
  --text-display: 2rem;
  --text-heading-lg: 1.5rem;
  --text-heading: 1.25rem;
  --text-body: 1rem;
  --text-body-sm: 0.875rem;
  --text-label: 0.75rem;
  --text-code: 0.875rem;
  --tracking-label: 0.02em;
  --font-weight-display: 600;
  --font-weight-heading-lg: 600;
  --font-weight-heading: 600;
  --font-weight-body: 400;
  --font-weight-body-sm: 400;
  --font-weight-label: 400;
  --font-weight-code: 400;
  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 8px;
  --radius-full: 9999px;
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;
  --spacing-3xl: 64px;
}

