@theme {
  --color-primary: #6750a4;
  --color-on-primary: #ffffff;
  --color-primary-container: #eaddff;
  --color-on-primary-container: #21005d;
  --color-secondary-container: #e8def8;
  --color-on-secondary-container: #1d192b;
  --color-surface: #fef7ff;
  --color-on-surface: #1d1b20;
  --color-surface-container: #f3edf7;
  --color-surface-variant: #e7e0ec;
  --color-on-surface-variant: #49454f;
  --color-outline: #79747e;
  --color-outline-variant: #cac4d0;
  --color-error: #b3261e;
  --color-on-error: #ffffff;
  --font-display: "Roboto";
  --font-headline: "Roboto";
  --font-title: "Roboto";
  --font-body: "Roboto";
  --font-body-sm: "Roboto";
  --font-label: "Roboto";
  --font-code: "Roboto Mono";
  --text-display: 3.5625rem;
  --text-headline: 2rem;
  --text-title: 1.375rem;
  --text-body: 1rem;
  --text-body-sm: 0.875rem;
  --text-label: 0.875rem;
  --text-code: 0.875rem;
  --tracking-label: 0.006em;
  --font-weight-display: 400;
  --font-weight-headline: 400;
  --font-weight-title: 500;
  --font-weight-body: 400;
  --font-weight-body-sm: 400;
  --font-weight-label: 500;
  --font-weight-code: 400;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 28px;
  --radius-full: 9999px;
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;
}

