@theme {
  --color-primary: #1868db;
  --color-on-primary: #ffffff;
  --color-surface: #ffffff;
  --color-surface-sunken: #f8f8f8;
  --color-surface-selected: #e9f2fe;
  --color-on-surface: #292a2e;
  --color-on-surface-subtle: #505258;
  --color-on-surface-subtlest: #6b6e76;
  --color-border: #8c8f97;
  --color-success: #4c6b1f;
  --color-success-subtle: #efffd6;
  --color-warning: #9e4c00;
  --color-warning-subtle: #fff5db;
  --color-danger: #ae2e24;
  --color-danger-subtle: #ffeceb;
  --font-display: "Inter";
  --font-heading-lg: "Inter";
  --font-heading: "Inter";
  --font-body: "Inter";
  --font-body-sm: "Inter";
  --font-label: "Inter";
  --font-code: "JetBrains Mono";
  --text-display: 2rem;
  --text-heading-lg: 1.5rem;
  --text-heading: 1.25rem;
  --text-body: 0.875rem;
  --text-body-sm: 0.75rem;
  --text-label: 0.75rem;
  --text-code: 0.875rem;
  --font-weight-display: 600;
  --font-weight-heading-lg: 600;
  --font-weight-heading: 600;
  --font-weight-body: 400;
  --font-weight-body-sm: 400;
  --font-weight-label: 600;
  --font-weight-code: 400;
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-full: 9999px;
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;
  --spacing-3xl: 64px;
}

