@theme {
  --color-primary: #000091;
  --color-on-primary: #ffffff;
  --color-primary-soft: #e3e3fd;
  --color-red-marianne: #e1000f;
  --color-surface: #ffffff;
  --color-surface-alt: #f6f6f6;
  --color-surface-contrast: #eeeeee;
  --color-on-surface: #3a3a3a;
  --color-on-surface-title: #161616;
  --color-on-surface-mention: #666666;
  --color-border: #dddddd;
  --color-info: #0063cb;
  --color-success: #18753c;
  --color-warning: #b34000;
  --color-error: #ce0500;
  --font-display: "Public Sans";
  --font-heading-lg: "Public Sans";
  --font-heading: "Public Sans";
  --font-body: "Public Sans";
  --font-body-sm: "Public Sans";
  --font-label: "Public Sans";
  --font-code: "JetBrains Mono";
  --text-display: 2.5rem;
  --text-heading-lg: 2rem;
  --text-heading: 1.75rem;
  --text-body: 1rem;
  --text-body-sm: 0.875rem;
  --text-label: 0.75rem;
  --text-code: 0.875rem;
  --font-weight-display: 700;
  --font-weight-heading-lg: 700;
  --font-weight-heading: 700;
  --font-weight-body: 400;
  --font-weight-body-sm: 400;
  --font-weight-label: 400;
  --font-weight-code: 400;
  --radius-none: 0px;
  --radius-sm: 4px;
  --radius-full: 9999px;
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;
  --spacing-3xl: 64px;
}

