@theme {
  --color-primary: #047d95;
  --color-primary-hover: #005566;
  --color-on-primary: #ffffff;
  --color-surface: #ffffff;
  --color-surface-variant: #fafafa;
  --color-surface-tertiary: #eff0f0;
  --color-on-surface: #0d1926;
  --color-on-surface-variant: #304050;
  --color-border: #89949f;
  --color-focus: #00404c;
  --color-success: #365e3d;
  --color-warning: #663300;
  --color-error: #660000;
  --font-display: "Inter";
  --font-heading-lg: "Inter";
  --font-heading: "Inter";
  --font-body: "Inter";
  --font-body-sm: "Inter";
  --font-label: "Inter";
  --font-code: "JetBrains Mono";
  --text-display: 3rem;
  --text-heading-lg: 2rem;
  --text-heading: 1.5rem;
  --text-body: 1rem;
  --text-body-sm: 0.875rem;
  --text-label: 0.75rem;
  --text-code: 0.875rem;
  --font-weight-display: 300;
  --font-weight-heading-lg: 500;
  --font-weight-heading: 600;
  --font-weight-body: 400;
  --font-weight-body-sm: 400;
  --font-weight-label: 600;
  --font-weight-code: 400;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 2rem;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;
  --spacing-3xl: 4.5rem;
}

