@theme {
  --color-primary: #0064fa;
  --color-primary-tint: #eaf5ff;
  --color-on-primary: #ffffff;
  --color-surface: #ffffff;
  --color-on-surface: #1c1f23;
  --color-on-surface-variant: #494c4f;
  --color-helper: #727477;
  --color-fill: #f5f5f5;
  --color-border: #ededed;
  --color-success: #3bb346;
  --color-success-tint: #ecf7ec;
  --color-warning: #fc8800;
  --color-warning-tint: #fff8ea;
  --color-danger: #f93920;
  --color-danger-tint: #fef2ed;
  --font-display: "Inter";
  --font-heading-lg: "Inter";
  --font-heading: "Inter";
  --font-body: "Inter";
  --font-body-sm: "Inter";
  --font-label: "Inter";
  --font-code: "JetBrains Mono";
  --text-display: 2rem;
  --text-heading-lg: 1.5rem;
  --text-heading: 1.25rem;
  --text-body: 0.875rem;
  --text-body-sm: 0.75rem;
  --text-label: 0.875rem;
  --text-code: 0.875rem;
  --font-weight-display: 600;
  --font-weight-heading-lg: 600;
  --font-weight-heading: 600;
  --font-weight-body: 400;
  --font-weight-body-sm: 400;
  --font-weight-label: 600;
  --font-weight-code: 400;
  --radius-sm: 3px;
  --radius-md: 6px;
  --radius-lg: 12px;
  --radius-full: 9999px;
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
}

